# This requirements.txt file only include the basic dependencies for PyPOTS.
# Please refer to setup.cfg for more dependency details.

h5py
numpy
scipy
sympy
einops
pandas
matplotlib
tensorboard
scikit-learn
torch>=1.10.0
tsdb>=0.4
pygrinder>=0.6
benchpots>=0.1
