pypots>=1.0
build
torch-sparse
torch-scatter
torch-geometric
sentencepiece
pre-commit
jupyterlab
black
flake8
flake8-pyproject
coveralls
pytest-cov
pytest-xdist
furo
sphinx
sphinxcontrib-bibtex
sphinxcontrib-gtagjs
sphinx-autodoc-typehints
