name: Publish Docker Image

on:
  push:
    branches:
      - release
      - release_docker

  release:
    types: [published]

permissions:
  contents: read

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Image for Linux-AMD64-CUDA
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pypots:latest
          platforms: linux/amd64
          build-args: |
            TARGETPLATFORM=linux/amd64

      - name: Build and Push Image for Linux-ARM64
        uses: docker/build-push-action@v6
        with:
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pypots:latest
          platforms: linux/arm64
          build-args: |
            TARGETPLATFORM=linux/arm64